<!-- index.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="datastyle.css"> <!-- Enlace a la hoja de estilos externa -->
    <title>Tu Página</title>
</head>
 <!-- Page Header Start -->
 <div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">¡Explora las canciones más famosas del 2023!</h1>
        <nav aria-label="breadcrumb">
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
    <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">2023</h5>
    <h1 class="display-5">¿Está tu favorita en la lista?</h1>
</div>

  <!-- Get In Touch Start -->

                        <div class="selector">
                            <div class="col-md-6 col-xl-3">
                                <select id="selector" (change)="onSelectChange($event)" class="form-select p-3 border-0">
                                    <option value="Type Of Service" class="">Cantidad de artistas</option>
                                    <option value="uno">1</option>
                                    <option value="dos">2</option> 
                                    <option value="tres">3 o mas</option>                                    
                                </select>
                            </div>
                            <div class="col-xl-2 col-lg-12">
                                <input (click)="pruebita()" type="button" class="btn btn-primary w-100 p-3 border-0" value="Filtrar">
                            </div>
                        </div>


  <body>
    <!-- Contenido de tu página -->
<div class="datastyle">
  <table id="miTabla">
     <thead>
        <tr>
           <th>Nombre de la Canción</th>
           <th>Nombre del Artista</th>
           <th>Playlists</th>
        </tr>
     </thead>
     <tbody>
        @for (datum of dataFil; track datum) {
           <tr>
              <td> {{ datum["track_name"] }} </td>
              <td> {{ datum["artist(s)_name"] }} </td>
              <td> {{ datum["in_spotify_playlists"] }} </td>
           </tr>
        } @empty {
           <tr>
              <td colspan="3" class="text-center">Aún no hay datos</td>
           </tr>
        }
     </tbody>
  </table>
</div>

</body>

  

</html>



