/* styles.css */

/* Estilos para la tabla */
.datastyle table {
    width: 100%;
    max-width: 100%; /* Ancho máximo de la tabla */
    border-collapse: collapse;
    margin-top: 10px;
    overflow-x: auto; /* Añadir barra de desplazamiento horizontal si es necesario */
}

/* Estilos para las celdas de la tabla */
.datastyle td, .datastyle th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilos para la fila de encabezado */
.datastyle th {
    background-color: rgb(45 209 30 / 30%);;
}

/* Estilos para el mensaje cuando no hay datos */
.datastyle .text-center {
    text-align: center;
}

/*fondo de la tabla*/
.datastyle table {
    background-color: white; /* Amarillo */
}

.py-5{
    padding-top: 27px !important;
    padding-bottom: 25px !important;
}

.selector{
    display: flex;
    background-color: #f5f6f6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: space-around;
    border-radius: 20px;
}

.btn-primary{
    background-color: #fdf001b0 !important;
}
