<div class="container-fluid bg-dark">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
                <a id="titu" href="index.html" class="navbar-brand">
                    <h1 id="titulo" >Spo<span class="text-white">tify</span></h1>
                    <img src="assets/img/logo.png" alt="" height="50px" width="50px">
                </a>
            <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-dark"></span>
            </button>
            <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a id="h" routerLink="/" class="nav-item nav-link">Home</a>
                    <a id="a" routerLink="/about" class="nav-item nav-link">About</a>
                    <a id="d" routerLink="/data" class="nav-item nav-link">Data</a>
                    <a id="c" routerLink="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
  </div>