<div class="container-fluid bg-dark">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="text-primary mb-0 display-5">Pest<span class="text-white">Kit</span><i class="fa fa-spider text-primary ms-2"></i></h1>
            </a>
            <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-dark"></span>
            </button>
            <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a routerLink="/" class="nav-item nav-link active">Home</a>
                    <a routerLink="/about" class="nav-item nav-link">About</a>
                    <a href="service.html" class="nav-item nav-link">Data</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
  </div>