<!-- Topbar Start -->
<!--<div class="container-fluid topbar-top bg-primary">
  <div class="container">
      <div class="d-flex justify-content-between topbar py-2">
          <div class="d-flex align-items-center flex-shrink-0 topbar-info">
              <a href="#" class="me-4 text-secondary"><i class="fas fa-map-marker-alt me-2 text-dark"></i>123 Street, CA, USA</a>
              <a href="#" class="me-4 text-secondary"><i class="fas fa-phone-alt me-2 text-dark"></i>+01234567890</a>
              <a href="#" class="text-secondary"><i class="fas fa-envelope me-2 text-dark"></i>Example&#64;gmail.com</a>
          </div>
          <div class="text-end pe-4 me-4 border-end border-dark search-btn">
              <div class="search-form">
                  <form method="post" action="index.html">
                      <div class="form-group">
                          <div class="d-flex">
                              <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required=""/>
                              <button type="submit" value="Search Now!" class="btn"><i class="fa fa-search text-dark"></i></button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="d-flex align-items-center justify-content-center topbar-icon">
              <a href="#" class="me-4"><i class="fab fa-facebook-f text-dark"></i></a>
              <a href="#" class="me-4"><i class="fab fa-twitter text-dark"></i></a>
              <a href="#" class="me-4"><i class="fab fa-instagram text-dark"></i></a>
              <a href="#" class=""><i class="fab fa-linkedin-in text-dark"></i></a>
          </div>
      </div>
  </div>
</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->


<!-- Page Start -->
<router-outlet></router-outlet>
<!-- Page End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->



<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
  <div class="container">
      <div id="des" class="row">
          <div class="col-md-4 my-auto text-center text-md-end text-white">
              <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
              <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
              <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
              Designed By <a id="lin" class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
          </div>
      </div>
  </div>
</div>
<!-- Copyright End -->

