.carousel-control-prev{
    background-color: rgb(53, 175, 42);
}

.carousel-control-next{
    background-color: rgb(53, 175, 42);
}

#carouselId .carousel-indicators li{
    border: 2px solid rgb(53, 175, 42) !important;
}

#carouselId .carousel-indicators li.active{
    background: rgb(53, 175, 42) !important;
}

#s1{
    text-align: center !important;
    color: black !important;
}

.py-5{
    padding-top: 27px !important;
    padding-bottom: 25px !important;
}

.page-header{
    margin-bottom: 0rem !important;
}

.project-item::after {
    background: rgb(53, 175, 42) !important;
}

.bg-primary{
    background-color: rgb(53, 175, 42) !important;    
}

.btn-primary{
   /* background-color: #fdf001b0 !important;*/
   background-color: rgb(53, 175, 42) !important;
}

.border-primary{
    border-color: rgb(53, 175, 42) !important ;
}

.text-primary{
    color: rgb(53, 175, 42) !important ;   
}

#color{
    color: rgb(53, 175, 42);
}

.btn::hover{
    background: #fdf001b0 !important;   
}

.btn.btn-dark:hover{
    box-shadow: inset 200px 0 0 0 rgb(53, 175, 42) !important;
}

.btn.btn-dark{
    box-shadow: inset 0 0 0 0 rgb(53, 175, 42) !important;   
}

.project-item:hover a{
    background: #f8f9fa;
}

.btn.btn-primary:hover:hover{
    color: rgb(53, 175, 42) !important;   
}